<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тут будет корзина</title>
</head>
<body>
    <div th:switch="${order}">
        <h2 th:case="null">Товаров в корзине нет!</h2>
        <div th:case="*">
            <h2>Orders</h2>
            <table>
                <thead>
                <tr>
                    <th>UserId</th>
                    <th>Condition</th>
                    <th>date</th>
                    <th>comment</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ChipBasket : ${chipBasket}">
                    <td th:text="${chipBasket.ChipBasketId}"></td>
                    <td th:text="${chipBasket.user.firstname}"></td>
                    <td th:text="${chipBasket.quantity}"></td>
                    <td th:text="${chipBasket.Commentription}"></td>
                    <table>
                        <thead>
                        <tr>
                            <th>products.name</th>
                            <th>quantity</th>
                            <th>finalPrice</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="Products : ${products}">
                            <td th:text="${products.order.name}"></td>
                            <td th:text="${products.quantity}"></td>
                            <td th:text="${products.finalPrice}"></td>
                        </tbody>
                    </table>
                </tr>
                </tbody>
                </table>
            <p><a href="/Basket">Корзина<i></i></a></p>
    </div>
    </div>
</body>
</html>