<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Create a user</title>
</head>
<body>

<div>
    <div class="topnav">
        <a class="active" href="/home">Главная страница</a>
        <!--    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>-->
        <a href="/products">Список товаров</a>
        <a href="/drinks">Список напитков</a>
        <a href="/games">Список игр</a>
        <a href="/figures">Список фигурок</a>
        <a href="/users">Список пользователей</a>
        <a href="javascript: document.logoutForm.submit()" > Выйти </a>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Logout"/>
        </form>
    </div>


    <div>
        <div class="container">
            <h2 class="header">Создать нового пользователя</h2>
            <form th:method="post" th:action="@{/users/createuser}" th:object="${user}">
                <div class = "label" >
                    <div>
                        <label for="name">Введите имя</label>
                        <input type="text" th:field="*{firstName}" id="name" placeholder="Иван">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    </div>
                    <div>
                        <label for="lastName">Введите фамилию</label>
                        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Иванов">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    </div>
                    <div>
                        <label for="dateOfBirth">Введите дату рождения</label>
                        <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth" placeholder="01.01.2000">
                        <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
                    </div>
                    <div>
                        <label for="login">Введите логин</label>
                        <input type="text" th:field="*{login}" id="login">
                        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
                    </div>
                    <div>
                        <label for="password">Введите пароль</label>
                        <input type="text" th:field="*{password}" id="password">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>

                    <div>
                        <label> Выберите город </label>
                        <select th:name="city">
                            <option th:each="city:${cities}"
                                    th:value="${city.cityID}"
                                    th:text="${city.value}">
                            </option>
                        </select>
                    </div>
                    <div th:each="role : ${roles}">
                        <input th:id="${role}" type="checkbox" th:name="roles[]" th:value="${role}"/>
                        <label th:text="${role}"> </label>
                    </div>
                </div>
                <div class="wideText links">
                    <input class="button" type="submit" value="Добавить">
                    <br>
                    <p>Если вы передумали создавать нового пользователя, то вы всегда можете</p>
                    <a href="/users">Перейти к списку пользователей</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>