<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new user</title>
</head>
<body>

<div>
    <h2>Create a new user</h2>
    <div>
        <div>
            <form th:method="post"  th:action="@{/users/createuser}" th:object="${user}" >
                <div>
                    <div>
                        <label for="name">Введите имя</label>
                        <input type="text" th:field="*{firstName}" id="name" placeholder="Иван">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    </div>
                    <div>
                        <label for="lastName">Введите фамилию</label>
                        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Иванов">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    </div>
                    <div>
                        <label for="dateOfBirth">Введите дату рождения</label>
                        <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth" placeholder="01.01.2000">
                        <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
                    </div>
                    <div>
                        <label for="login">Введите логин</label>
                        <input type="text" th:field="*{login}" id="login">
                        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
                    </div>
                    <div>
                        <label for="password">Введите пароль</label>
                        <input type="text" th:field="*{password}" id="password">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>

                </div>
                <div>
                    <input type="submit" value="Добавить">
                    <br>
                    <a href="/users">Перейти к списку пользователей</a>
                </div>

        </form>
    </div>
</div>
</div>

</body>
</html>