<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new user</title>
</head>
<body>
<h1> Создать новый аккаунт </h1>
<p> Введите ваши данные </p>
<div>
    <form>
        <div>
            <div>
                <label> Введите имя
                    <input placeholder="Иван"></label>
                <br>
                <label>Введите фамилию
                    <input  placeholder="Иванов"></label>
                <br>
                <label>Введите дату рождения
                    <input placeholder="01.01.2000"></label>
                <br>
                <select>
                    <option>Выберите город</option>
                    <option>Санкт-Петербург</option>
                    <option>Москва</option>
                </select>
            </div>
            <button>Сохранить</button>
        </div>
    </form>
</div>

</body>
</html>