<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Games Update</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/home">Главная страница</a>
    <!--    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>-->
    <a href="/products">Список товаров</a>
    <a href="/drinks">Список напитков</a>
    <a href="/games">Список игр</a>
    <a href="/figures">Список фигурок</a>
    <a href="/users">Список пользователей</a>
    <a href="javascript: document.logoutForm.submit()" > Выйти </a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Logout"/>
    </form>
</div>

<h2 class="header"> Настольные игры / редактирование </h2>

<form action="#" th:action="@{/games-update}" th:object="${boardGame}" method="post">
    <fieldset>
        <legend>Редактирование игры</legend>
        <div>
            <label for="id">Id товара</label>
            <input readonly type="text" th:field="*{id}" id="id" placeholder="id">
        </div>
        <div>
            <label for="name">Наименование</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name">
        </div>
        <br>
        <div>
            <label for="description">Описание</label>
            <input type="text" th:field="*{description}" id="description" placeholder="Description">
        </div>
        <br>
        <div>
            <label for="images">Картинка</label>
            <input type="text" th:field="*{images}" id="images" placeholder="Images">
        </div>
        <br>
        <div>
            <label for="price">Цена</label>
            <input type="text" th:field="*{price}" id="price" placeholder="Price">
        </div>
        <br>
        <div>
            <label for="availability">Доступность(кол-во товара)</label>
            <input type="text" th:field="*{availability}" id="availability" placeholder="Availability">
        </div>
        <br>
        <div>
            <label>Тег
                <select th:name="seo" > <!--проверить работает ли-->
                    <option th:each="seo:${seos}"
                            th:value="${seo.SEOAttributeId}"
                            th:text="${seo.name}"
                        th:selected="${boardGame.seo.SEOAttributeId == seo.SEOAttributeId}">
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label>Тип продукта
                <select th:name="productType" >
                    <option th:each="productType:${productTypes}"
                            th:value="${productType.productTypeId}"
                            th:text="${productType.name}"
                            th:selected="${boardGame.productType.productTypeId == productType.productTypeId}">
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label for="ratingId">Рейтинг</label>
            <input type="text" th:field="*{ratingId}" id="ratingId" placeholder="ratingId">
        </div>
        <br>
        <div>
            <label>Скидка
                <select th:name="sale">
                    <option th:each="sale:${sales}"
                            th:value="${sale.saleId}"
                            th:text="${sale.value}"
                            th:selected="${boardGame.sale.saleId == sale.saleId}">
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label>Производитель
                <select th:name="boardGameProducer">
                    <option th:each="boardGameProducer:${boardGameProducers}"
                            th:value="${boardGameProducer.boardGameProducerId}"
                            th:text="${boardGameProducer.name}"
                            th:selected="${boardGame.boardGameProducer.boardGameProducerId ==boardGameProducer.boardGameProducerId}">
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label>Уровень сложности
                <select th:name="difficultyLevel">
                    <option th:each="difficultyLevel:${difficultyLevels}"
                            th:value="${difficultyLevel.difficultyLevelId}"
                            th:text="${difficultyLevel.name}"
                            th:selected="${boardGame.difficultyLevel.difficultyLevelId ==difficultyLevel.difficultyLevelId}">
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label>Жанр
                <select th:name="genre">
                    <option th:each="genre:${genres}"
                            th:value="${genre.genreId}"
                            th:text="${genre.name}"
                            th:selected="${boardGame.genre.genreId == genre.genreId}">
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label>Возрастные ограничения
                <select th:name="age">
                    <option th:each="age:${ages}"
                            th:value="${age.id}"
                            th:text="${age.name}"
                            th:selected="${boardGame.age.id == age.id}">
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label>Мин. кол-во игроков
                <select th:field="*{playersNumMin}" size="1">
                    <option th:value="1">1</option>
                    <option th:value="2">2</option>
                    <option th:value="3">3</option>
                    <option th:value="4">4</option>
                    <option th:value="5">5</option>
                    <option th:value="6" th:selected="${boardGame.playersNumMin == playersNumMin}">6</option>

                </select>
            </label>
            <!---->
            <label>Макс. кол-во игроков
                <select th:field="*{playersNumMax}" size="1">
                    <option th:value="1"> 1</option>
                    <option th:value="2">2</option>
                    <option th:value="3">3</option>
                    <option th:value="4">4</option>
                    <option th:value="5">5</option>
                    <option th:value="6">6</option>
                    <option th:value="7">7</option>
                    <option th:value="8">8</option>
                    <option th:value="9">9</option>
                    <option th:value="10">10</option>
                    <option th:value="11">11</option>
                    <option th:value="12">12</option>
                    <option th:value="13">13</option>
                    <option th:value="14">14</option>
                    <option th:value="15">15</option>
                    <option th:value="16">16</option>
                    <option th:value="17">17</option>
                    <option th:value="18">18</option>
                    <option th:value="19">19</option>
                    <option th:value="20" th:selected="${boardGame.playersNumMax == playersNumMax}">20</option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label>Выберите время игры
                <select th:name="playTime">
                    <option th:each="playTime:${playTimes}"
                            th:value="${playTime.playTimeId}"
                            th:text="${playTime.name}"
                            th:selected="${boardGame.playTime.playTimeId == playTime.playTimeId}">
                    </option>
                </select>
            </label>
        </div>
        <br>


        <div>
            <label>Выберите доп.опцию игры
                <select th:name="options[0].optionId">
                    <option th:each="option:${options}"
                            th:value="${option.optionId}"
                            th:text="${option.name}"
                            th:selected="${boardGame.options[0].optionId == option.optionId}">
                    </option>
                </select>
            </label>
        </div>
    </fieldset>
    <input type="submit" value="Update BoardGame">
    <p><a href="/games">Cancel<i></i></a></p>
    </fieldset>
</form>
</body>
</html>