<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> home </title>

    <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8/>
</head>
<body>

<h1>Добро пожаловать!</h1>
<p><a href="/products">Каталог товаров<i></i></a></p>
<p><a href="/users">Пользователи<i></i></a></p>
<p><a href="/order">Заказы<i></i></a></p>
<p><a href="/">Корзина не работает<i></i></a></p>

    <td th:text="${name}"></td>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</body>
</html>