<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> home </title>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
</head>
<body>

<div class="topnav">
    <a class="active" href="/home">Главная страница</a>
<!--    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>-->
    <a href="#notyet">Мое избранное</a>
    <a href="#notyet">Моя корзина</a>
</div>


<div class="container links" >
    <h2 class="header"  th:text="'Добро пожаловать, '+${user.firstName}" ></h2>

    <p><a href="/products">Каталог товаров<i></i></a></p>
    <p><a href="/users">Пользователи<i></i></a></p>
    <p><a href="/order">Заказы<i></i></a></p>
    <p><a href="/">Корзина не работает<i></i></a></p>
</div>

<!--<td th:text="${name}"></td>-->
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>