<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>OrderCreate</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/home">Главная страница</a>
    <!--    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>-->
    <a href="/products">Список товаров</a>
    <a href="/drinks">Список напитков</a>
    <a href="/games">Список игр</a>
    <a href="/figures">Список фигурок</a>
    <a href="/users">Список пользователей</a>
    <a href="javascript: document.logoutForm.submit()" style="float:right;"> Выйти </a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Logout"/>
    </form>
</div>

<div class="container">
    <h2 class="header">Заказ</h2>
    <div class="label">
        <form action="#" th:action="@{/myOrder-detail}" th:object="${order}" method="post">
            <br>
            <fieldset>
                <legend>Просмотр заказа</legend>
                <label for="orderId">Заказ № (id)</label>
                <input readonly type="text" th:field="*{orderId}" id="orderId" placeholder="orderId">
                <table>
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Изображение</th>
                        <th>Товар</th>
                        <th>Количество</th>
                        <th>Стоимость</th>
                    </tr>
                    </thead>
                    <tbody id="productSelectContainer">
                    <th:block th:each="currentProductInOrder,productInOrderStat : *{productInOrder}">
                        <tr class="addProductClass" th:id="addProduct__${productInOrderStat.index}__">
                            <td th:text="${productInOrderStat.count}">
                            <td>
                                <img th:src="@{${currentProductInOrder.product.images}}" width="100" height="90">
                            </td>
                            <td>
                                <input readonly type="text" class="productName"
                                       th:field="*{productInOrder[__${productInOrderStat.index}__].product.name}"
                                       th:id="productName__${productInOrderStat.index}__"
                                       placeholder="Название товара"/>
                            </td>
                            <td>
                                <input readonly type="number" class="productQuantityClass"
                                       th:field="*{productInOrder[__${productInOrderStat.index}__].quantity}"
                                       th:id="productQuantity__${productInOrderStat.index}__"
                                       placeholder="Количество товара"/>
                            </td>
                            <td>
                                <input readonly type="number" class="productFinalPriceClass"
                                       th:field="*{productInOrder[__${productInOrderStat.index}__].finalPrice}"
                                       th:id="productFinalPrice__${productInOrderStat.index}__"
                                       placeholder="Итоговая цена"/>
                                <input type="hidden" th:field="*{productInOrder[__${productInOrderStat.index}__].id}"/>
                            </td>
                        </tr>

                    </th:block>
                    </tbody>
                </table>
                <br>
                <br>
                <br>
                <div>
                    <label> Состояние заказа
                        <input readonly type="text" class="orderCondition"
                               th:field="*{condition.conditionName}"
                               placeholder="Состояние заказа"/>
                    </label>
                </div>
                <br>
                <div>
                    <label for="orderPrice">Итоговая сумма заказа</label>
                    <input readonly type="number" th:field="*{orderPrice}" id="orderPrice" placeholder="orderPrice">
                </div>
            </fieldset>
            <p><a href="/myOrders">Назад<i></i></a></p>
        </form>
    </div>
</div>
</body>
</html>