<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OrderCreate</title>
</head>
<body>
<h1>Заказы</h1>
<style>
    fieldset {
        background-color: #eeeeee;
    }

    legend {
        background-color: gray;
        color: white;
        padding: 1px 10px;
    }

    input {
        margin: 5px;
    }
</style>
<form action="#" th:action="@{/order-create}" th:object="${order}" method="post">
    <br>
    <fieldset>
        <legend>Создание заказа</legend>
        <div>
            <label> Выберите покупателя</label>
            <select th:name="user">
                <option th:each="user:${users}"
                        th:value="${user.id}"
                        th:text="${user.login}">Логин покупателя
                </option>
            </select>
        </div>
        <br>
<!--        <div th:each="prInOr, stat : ${order.productInOrders}">-->
        <div th:id="productSelectContainer" >
            <label> Выберите продукт</label>
            <div class="productSelect" th:id="addProduct0">

                <select name="productInOrders[0].product.id" th:id="productSelectList0">
                    <option th:each="product :${products}"
                            th:value="${product.id}"
                            th:text="${product.name}">Наименование продукта
                    </option>
                </select>
                <label> Количество</label>
                <input type="text" name="productInOrders[0].quantity" th:id="productQuantity0"
                       placeholder="Количество товара"/>

                <br>
                <label> Итоговая цена</label>
                <input type="text" name="productInOrders[0].finalPrice" th:id="productFinalPrice0"
                       placeholder="Итоговая цена"/>
                <br>
                </div>
<!--            </div>-->

        </div>
        <br>
        <button type="button" id="addProductSelect">Добавить еще товар</button>
        <button type="button" id="deleteLastProductSelect">Удалить последний товар</button>
        <br>
        <div>
            <label for="date">Дата заказа</label>
            <input type="date" th:field="*{date}" id="date" placeholder="Date">
        </div>
        <br>
        <div>
            <label> Состояние заказа
                <select name="condition">
                    <option th:each="condition:${conditions}"
                            th:value="${condition.conditionId}"
                            th:text="${condition.conditionName}">Состояние заказа
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label for="comment">Комментарий к заказу</label>
            <input type="text" th:field="*{comment}" id="comment" placeholder="Comment">
        </div>
    </fieldset>
    <input type="submit" value="Создать">
    <p><a href="/order">Cancel<i></i></a></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
                $('#addProductSelect').on('click', function () {            // Триггер на изменение нажатие кнопки
                    //                 $(".productSelect:last-child").change(function (){    // Триггер на изменение поля товар
                    var oldId = $("#productSelectContainer .productSelect:last-child").attr("ID") // Получаем ID последнего добавленного класса
                    var selId = "addProduct";                          // ID класса ( используется для вычиследния длинны и создания ID нового класса
                    var newNumber = Number(oldId.substring(selId.length)) + 1; //Берем номер ID последнего добавленного класса и добавляем 1
                    var newId = selId + newNumber;                            // Генерируем новый ID
                    var cloneClass = $(".productSelect:last-child").clone(true, true) //клонируем последний добавленный класс(это нужно для того чтобы не копировать полностью весь класс иначе уходит в разнос
                    cloneClass.attr("id", newId);                                //Прописываем склонированному классу новый ID


                    // var NameFirstPart = "productInOrders[";                          // ID класса ( используется для вычиследния длинны и создания ID нового класса
                    // var selNameLastPart = "].product.id";
                    // var newSelName = NameFirstPart + newNumber + selNameLastPart;                            // Генерируем новый ID
                    // cloneClass.attr("name", newSelName);
                    //
                    // var selNameLastPart = "].quantity";
                    // var newSelName = NameFirstPart + newNumber + selNameLastPart;
                    // var cloneClassQuantity = $(".productSelect:last-child").clone(true, true)// Генерируем новый ID
                    // console.log(cloneClass)

                    $("#productSelectContainer").append(cloneClass);            //Добавляем склонированный класс к контейнеру
                });
            }
        );
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
                $('#deleteLastProductSelect').on('click', function () {            // Триггер на изменение нажатие кнопки
                    var first = $("#productSelectContainer .productSelect").attr("ID") // Получаем ID первого класса
                    var last = $("#productSelectContainer .productSelect:last-child").attr("ID") // Получаем ID последнего класса
                    if (first != last) {                                                   //Проверка нужна для того, чтобы мы не удалили единственный товар( иначе кнопка добавить больше не будет работать)
                        $("#productSelectContainer .productSelect:last-child").remove();    //Удаляем последний добавленный класс
                    }
                });
            }
        );
    </script>
</form>
</body>
</html>