<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OrderCreate</title>
</head>
<body>
<h1>Заказы</h1>
<style>
    fieldset {
        background-color: #eeeeee;
    }

    legend {
        background-color: gray;
        color: white;
        padding: 1px 10px;
    }

    input {
        margin: 5px;
    }
</style>
<form action="#" th:action="@{/order-create}" th:object="${order}" method="post">
    <br>
    <fieldset>
        <legend>Создание заказа</legend>
        <div>
            <label> Выберите покупателя</label>
            <select th:name="user">
                <option th:each="user:${users}"
                        th:value="${user.id}"
                        th:text="${user.login}">Логин покупателя
                </option>
            </select>
        </div>
        <br>
        <div>
            <label> Выберите продукт</label>
            <select name="productInOrder[0].product.id">
                <option th:each="product:${products}"
                        th:value="${product.id}"
                        th:text="${product.name}">Наименование продукта
                </option>
            </select>
        </div>
        <br>
        <div>
            <label> Количество</label>
            <input type="text" name="productInOrder[0].quantity" placeholder="Количество товара"/>
            <br>
            <label> Итоговая цена</label>
            <input type="text" name="productInOrder[0].finalPrice" placeholder="Итоговая цена"/>
            <br>
            <label for="date">Дата заказа</label>
            <input type="text" th:field="*{date}" id="date" placeholder="Date">
        </div>
        <br>
        <div>
            <label> Состояние заказа
                <select name="condition">
                    <option th:each="condition:${conditions}"
                            th:value="${condition.conditionId}"
                            th:text="${condition.conditionName}">Состояние заказа
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label for="comment">Комментарий к заказу</label>
            <input type="text" th:field="*{comment}" id="comment" placeholder="Comment">
        </div>
    </fieldset>
    <input type="submit" value="Создать">
    <p><a href="/order">Cancel<i></i></a></p>
</form>
</body>
</html>