<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Order Update</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/home">Главная страница</a>
    <!--    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>-->
    <a href="/products">Список товаров</a>
    <a href="/drinks">Список напитков</a>
    <a href="/games">Список игр</a>
    <a href="/figures">Список фигурок</a>
    <a href="/users">Список пользователей</a>
    <a href="javascript: document.logoutForm.submit()" > Выйти </a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Logout"/>
    </form>
</div>
<div class="container">
    <div class="label">

        <form action="#" th:action="@{/order-update}" th:object="${order}" method="post">
            <br>
            <fieldset>
                <legend>Редактирование заказа</legend>
                <label for="orderId">Заказ № (id)</label>
                <input readonly type="text" th:field="*{orderId}" id="orderId" placeholder="orderId">
                <div>
                    <label> Выберите покупателя</label>
                    <select th:name="user">
                        <option th:each="user:${users}"
                                th:value="${user.id}"
                                th:text="${user.login}"Логин покупателя
                            th:selected="${order.user.id == user.id}">
                        </option>
                    </select>
                </div>
                <br>
                <div id="productSelectContainer">
                    <label> Выберите продукт</label>
                    <div class="addProductClass" th:id="addProduct0">
                        <select class="productSelectClass" th:field="*{productInOrder[0].product.id}" id="productSelectList0">
                            <option th:each="product :${products}"
                                    th:value="${product.id}"
                                    th:text="${product.name}" Наименование продукта
                                    th:price-id="${product.price}"
                                    th:selected="${order.productInOrder[0].product.id == product.id}">
                            </option>
                        </select>
                        <label> Количество</label>
                        <input type="text" class="productQuantityClass" th:field="*{productInOrder[0].quantity}"
                               id="productQuantity0" placeholder="Количество товара"/>
                        <br>
                        <label> Итоговая цена</label>
                        <input disabled type="text" class="productFinalPriceClass" th:field="*{productInOrder[0].finalPrice}"
                               id="productFinalPrice0" placeholder="Итоговая цена"/>
                        <br>
                    </div>
                </div>
                <br>
                <button type="button" id="addProductSelect">Добавить еще товар</button>
                <button type="button" id="deleteLastProductSelect">Удалить последний товар</button>
                <br>
                <!--        <div>-->
                <!--            <label for="date">Дата заказа</label>-->
                <!--            <input type="text" th:field="*{date}" id="date" placeholder="Date">-->

                <!--        </div>-->
                <br>
                <div>
                    <label> Состояние заказа
                        <select name="condition">
                            <option th:each="condition:${conditions}"
                                    th:value="${condition.conditionId}"
                                    th:text="${condition.conditionName}"Состояние заказа
                                th:selected="${order.condition.conditionId == condition.conditionId}">
                            </option>
                        </select>
                    </label>
                </div>
                <br>
                <div>
                    <label for="comment">Комментарий к заказу</label>
                    <input type="text" th:field="*{comment}" id="comment" placeholder="Comment">
                </div>
            </fieldset>
            <input type="submit" value="Редактировать">
            <p><a href="/order">Cancel<i></i></a></p>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                        $('#addProductSelect').on('click', function () {            // Триггер на изменение нажатие кнопки
                            var oldIdProductSelectContainer = $("#productSelectContainer .addProductClass:last-child").attr("ID") // Получаем ID последнего добавленного класса
                            var subStringIdAddProductClass = "addProduct";                          // ID класса ( используется для вычиследния длинны и создания ID нового класса
                            var oldNumber = Number(oldIdProductSelectContainer.substring(subStringIdAddProductClass.length))
                            var newNumber = oldNumber + 1;
                            var newIdProductSelectContainer = subStringIdAddProductClass + newNumber;                            // Генерируем новый ID
                            var cloneClass = $(".addProductClass:last-child").clone(true, true) //клонируем последний добавленный класс(это нужно для того чтобы не копировать полностью весь класс иначе уходит в разнос
                            cloneClass.attr("id", newIdProductSelectContainer);                                //Прописываем склонированному классу новый ID

                            var nameFirstPart = "productInOrder[";  // Первая часть имени для select и input (одинаковая у всех)
// Select товар
                            var idSelectFirstPart = "productSelectList";  // Первая часть ID для select
                            var selNameLastPart = "].product.id";         // Последняя часть name для select
                            var newSelectName = nameFirstPart + newNumber + selNameLastPart; // Создаем новый name
                            var newSelectId = idSelectFirstPart + newNumber;// Создаем новый ID
                            cloneClass.children()[0].setAttribute("name", newSelectName); //Присваиваем новый name
                            cloneClass.children()[0].setAttribute("id", newSelectId); // Присваиваем новый ID
// input количество
                            var idQuantityFirstPart = "productQuantity"; // Первая часть ID
                            var quantityNameLastPart = "].quantity";    // Последняя часть name
                            var newQuantityName = nameFirstPart + newNumber + quantityNameLastPart; // Создаем новый name
                            var newQuantityId = idQuantityFirstPart + newNumber    // Создаем новый ID
                            cloneClass.children()[2].setAttribute("name", newQuantityName); //Присваиваем новый name
                            cloneClass.children()[2].setAttribute("id", newQuantityId); // Присваиваем новый ID
                            // input итоговая цена
                            var idFinalPriceFirstPart = "productFinalPrice"; // Первая часть ID
                            var finalPriceNameLastPart = "].finalPrice";     // Последняя часть name для
                            var newFinalPriceName = nameFirstPart + newNumber + finalPriceNameLastPart;  // Создаем новый name
                            var newFinalPriceId = idFinalPriceFirstPart + newNumber; // Создаем новый ID
                            cloneClass.children()[5].setAttribute("name", newFinalPriceName); //Присваиваем новый name
                            cloneClass.children()[5].setAttribute("id", newFinalPriceId); // Присваиваем новый ID

                            $("#productSelectContainer").append(cloneClass);  //Присоединяем новый класс
                        });
                    }
                );
            </script>
            <script type="text/javascript">
                $(document).ready(function () {
                        $('#deleteLastProductSelect').on('click', function () {            // Триггер на изменение нажатие кнопки
                            var firstIdProductSelectContainer = $("#productSelectContainer .addProductClass").attr("ID") // Получаем ID первого класса
                            var lastIdProductSelectContainer = $("#productSelectContainer .addProductClass:last-child").attr("ID") // Получаем ID последнего класса
                            if (firstIdProductSelectContainer != lastIdProductSelectContainer) {  //Проверка нужна для того, чтобы мы не удалили единственный товар( иначе кнопка добавить больше не будет работать)
                                $("#productSelectContainer .addProductClass:last-child").remove();    //Удаляем последний добавленный класс
                            }
                        });
                    }
                );
            </script>
            <script>
                $(document).ready(function () {
                        var select = document.getElementById('productSelectList0');
                        select.addEventListener('change', function () {
                            var getValue = this.value;
                            console.log(getValue);
                        });
                    }
                );
            </script>
            <script type="text/javascript">
                $('.productQuantityClass').on('change', function () {
                    console.log("Поле отредактированно")
                    console.log($(this).attr("id"));
                    var idQuantity = $(this).attr("id")
                    var idQuantityFirstPart = "productQuantity";
                    var idProductFinalPriceFirstPart = "productFinalPrice";
                    var number = Number(idQuantity.substring(idQuantityFirstPart.length))
                    var idProductFinalPrice = idProductFinalPriceFirstPart + number
                    //           var oldValueProductFinalPrice = $("#"+idProductFinalPrice).val();
                    var idProductSelectList = "productSelectList" + number
                    var ValueProductFinalPrice = $("#" + idProductSelectList + " option:selected").attr("price-id");
                    var valueQuantity = $(this).val();
                    $("#" + idProductFinalPrice).val(ValueProductFinalPrice * valueQuantity)
                });
            </script>
        </form>
    </div>
</div>
</body>
</html>