<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OrderCreate</title>
</head>
<body>
<h1>Заказы</h1>
<style>
    fieldset {
        background-color: #eeeeee;
    }
    legend {
        background-color: gray;
        color: white;
        padding: 1px 10px;
    }
    input {
        margin: 5px;
    }
</style>
<form action="#" th:action="@{/order-create}" th:object="${order}" method="post">
    <br>
    <fieldset>
        <legend>Создание заказа</legend>
    <div>
        <label> Выберите покупателя</label>

        <select th:name="user">
            <option th:each="user:${users}"
                    th:value="${user.id}"
                    th:text="${user.login}">Логин покупателя
            </option>
        </select>
    </div>
        <br>
   <div>
       <label> Выберите продукт</label>

        <select th:name="product">
            <option th:each="product:${products}"
                    th:value="${product.id}"
                    th:text="${product.name}">Наименование продукта
            </option>
        </select>
   </div>
        <br>
    <div>
        <label> Количество товаров</label>
        <input type="text" th:name="quantity" placeholder="Количество товара"/>
    </div>
        <br>
<!--    <label> Количество товаров</label>-->
<!--    <input type="text" th:name="productInOrder[0].quantity" placeholder="Количество товара"/>-->


<!--    <label> Итоговая цена</label>-->
<!--    <input type="text" th:name="productInOrder[0].finalPrice" placeholder="Итоговая цена"/>-->


<!--    <input type="hidden" th:field="${product.id}" id="orderId" placeholder="orderId">-->
    <!--    <label for="userId">User id</label>-->
    <!--    <input type="text" th:field="*{userId}" id="userId" placeholder="User_Id">-->

    <label for="date">Data of Order</label>
    <input type="text" th:field="*{date}" id="date" placeholder="Date">
        <br>
    <label for="condition.conditionId">Condition Id</label>
    <input type="text" th:field="*{condition.conditionId}" id="condition.conditionId" placeholder="Condition Id">
        <br>
    <label for="comment">Comment</label>
    <input type="text" th:field="*{comment}" id="comment" placeholder="Comment">
        <br></fieldset>
    <input type="submit" value="Create Order">

</form>
</body>
</html>