<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Карточка товара</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/home">Главная страница</a>
    <!--    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>-->
    <a href="#notyet">Мое избранное</a>
    <a href="@{/cart}">Моя корзина</a>
</div>

<div class="container header">

    <h2 class="headerForProductCards" th:text="${product.name}" style="text-align: center"></h2>

    <div class="box-model">
        <form th:object="${product}">
                     <img th:src="@{${product.images}}" width="400" height="600">
            <div class="containerPrice">
                <p style="font-size: 30px" th:text="${product.price} +'  руб.'"></p>
                <div class="dropdown">
                    <button class="dropbtn">В корзину</button>
                </div>
            </div>
            <p th:text="${product.description}">value</p>
            <p th:text="${product.ratingId}">рейтинг</p>
            <p th:text="${product.sale.value}">скидка?</p>
        </form>
    </div>
</div>
</body>
</html>