<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Карточка товара</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/home">Главная страница</a>
    <a href="#notyet">Мое избранное</a>
    <a th:hidden="${user.getRoleString()}=='CUSTOMER'?'false':'true'" th:href = "@{/cart}"> Моя корзина </a>
</div>

<div class="container header">

    <h2 class="headerForProductCards" th:text="${product.name}" style="text-align: center"></h2>

    <div class="box-model">
        <form th:object="${product}">
                     <img th:src="@{${product.images}}" width="400">
            <div class="containerPrice">
                <p style="font-size: 30px" th:text="${product.price} +'  руб.'"></p>
                <div>
                    <button class="button">В корзину</button>
                </div>
            </div>
            <p>
            <br/>
            <span>Описание: </span>
            <span th:text="${product.description}">value</span>
            <br/>
            <span>Рейтинг: </span>
            <span th:text="${product.ratingId}">рейтинг</span>
            <br/>
            <span>Скидака на товар: </span>
            <span th:text="${product.sale.value}">скидка?</span>
            </p>
        </form>
    </div>
</div>
</body>
</html>