<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Настольные игры</title>
</head>
<body>
<div class="container links table">

    <div th:switch="${boardGames}">
        <h2 th:case="null">No boardGames found!</h2>
        <div th:case="*">
            <h2>Настольные игры</h2>
            <table border="1">
                <thead>
                <tr>
                    <th>product_id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Picture</th>
                    <th>Availability</th>
                    <th>SEO_attributes</th>
                    <th>Product_type_id</th>
                    <th>Rating_id</th>
                    <th>Sale_id</th>
                    <th>producer_game_id</th>
                    <th>difficulty_level_id</th>
                    <th>genre_id</th>
                    <th>age_id</th>
                    <th>players_num_min</th>
                    <th>players_num_max</th>
                    <th>play_time_id</th>
                    <th>option_id</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="boardGame : ${boardGames}">
                    <td th:text="${boardGame.id}"></td>
                    <td th:text="${boardGame.name}"></td>
                    <td th:text="${boardGame.description}"></td>
                    <td th:text="${boardGame.price}"></td>
                    <td> <img th:src="@{${boardGame.images}}" alt="Фото продукта" width="200" height="100"> </td>
                    <td th:text="${boardGame.availability}"></td>
                    <td th:text="${boardGame.seo.name}"></td>
                    <td th:text="${boardGame.productType.name}"></td>
                    <td th:text="${boardGame.ratingId}"></td>
                    <td th:text="${boardGame.sale.value}"></td>
                    <td th:text="${boardGame.boardGameProducer.name}"></td>
                    <td th:text="${boardGame.difficultyLevel.name}"></td>
                    <td th:text="${boardGame.genre.name}"></td>
                    <td th:text="${boardGame.age.name}"></td>
                    <td th:text="${boardGame.playersNumMin}"></td>
                    <td th:text="${boardGame.playersNumMax}"></td>
                    <td th:text="${boardGame.playTime.name}"></td>

                    <!--Проверить после заполнения таблиц-->
                    <td th:each="bGOption : ${boardGame.options}" th:text="${bGOption.name}"></td>

                    <td><a th:href="@{games-update/{id}(id=${boardGame.id})}">Edit</a></td>
                    <td><a th:href="@{games-delete/{id}(id=${boardGame.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/games-create">Create new game</a></p>
        <p><a href="/products">Back to products<i></i></a></p>
    </div>
</div>
</body>
</html>