<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Cart</title>
    <style>
        .invert {
            filter: invert(1);
        }
    </style>
</head>
<body>
<div>

    <div class="container links">
        <h2 class="header" th:text="'Это ваша корзина, '+${user.firstName}"></h2>

        <!--    <div th:if="!${#lists.isEmpty(productCarts)}">-->
        <!--        <div th:each="product:${productCarts}">-->

        <!--        </div>-->
        <!--        </div>-->


        <form th:object="${cart}">

            <p th:text="${cart.id}">value</p>
            <p th:text="${cart.sum}">value</p>

            <table>
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Изображение</th>
                    <th></th>
                    <th>Кол-во</th>
                    <th></th>
                    <th>Стоимость</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="productCart : ${cart.productCarts}">
                    <td th:text="${productCart.product.name}"></td>
                    <td th:text="${productCart.product.description}"></td>
                    <td> <img th:src="@{${productCart.product.images}}" alt="Фото продукта" width="200" height="100"> </td>
                    <td><a th:href="@{/productCardQuantityDecrease/{id}(id=${productCart.product.id})}" ><img src= "https://icons.iconarchive.com/icons/iconsmind/outline/512/Remove-icon.png" width="50" height="50" class="invert"><i></i></img></a></td>
                    <td th:text="${productCart.quantity}"></td>
                    <td><a th:href="@{/productCardQuantityIncrease/{id}(id=${productCart.product.id})}" ><img src= "https://icons.iconarchive.com/icons/iconsmind/outline/512/Add-icon.png" width="50" height="50"class="invert"><i></i></img></a></td>
                    <td th:text="${productCart.product.price}"></td>
                    <td><a th:href="@{/productCartDelete/{id}(id=${productCart.product.id})}" ><img src= "https://icons.iconarchive.com/icons/iconsmind/outline/512/Remove-Cart-icon.png" width="50" height="50"class="invert"><i></i></img></a></td>
                </tr>
                </tbody>
            </table>


            <div class="links">
                <p><a href="/home">На главную<i></i></a></p>
            </div>

        </form>
    </div>
</div>
</body>
</html>