<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Show products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="topnav">
    <a href="/home">Главная страница</a>
    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>
    <div th:hidden="${user.getRoleString()}=='CUSTOMER'?'true':'false'" class="dropdown">
        <button class="dropbtn" onclick="dropFunction()">Каталог товаров
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="dropElement">
            <a href="/products">Все товары</a>
            <a href="/drinks">Напитки</a>
            <a href="/games">Настольные игры</a>
            <a href="/figures">Фигурки</a>
        </div>
    </div>
    <div th:hidden="${user.getRoleString()}=='CUSTOMER'?'false':'true'" class="dropdown"> <!--  у кастомера-->
        <button class="dropbtn" onclick="dropFunctionForCustomer()">Каталог товаров
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="dropElementForCustomer">
            <a href="/catalog-products">Все товары</a>
            <a href="/catalog-drinks">Напитки</a>
            <a href="/catalog-boardGames">Настольные игры</a>
            <a href="/catalog-figures">Фигурки</a>
        </div>
    </div>
    <a th:hidden="${user.getRoleString()}=='CUSTOMER'?'false':'true'" th:href = "@{/cart}"> Моя корзина </a>

    <a href="javascript: document.logoutForm.submit()" style="float:right;"> Выйти </a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Logout"/>
    </form>
</div>

<div class="container links">
    <div th:switch="${products}">
        <div>
            <div>
                <h2 th:case="null">No product yet!</h2>
                <div th:case="*">
                    <h2 class="header">Продукты</h2>
                    <table border="1">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Цена</th>
                            <th>Картинка</th>
                            <th>Наличие</th>
                            <th th:hidden="${user.getRoleString()}=='ADMIN' or ${user.getRoleString()}=='MANAGER' ?'false':'true'">SEO атрибут</th>
                            <th>Тип продукта</th>
                            <th>Рейтинг</th>
                            <th>Скидка</th>
                            <th th:hidden="${user.getRoleString()}=='ADMIN' or ${user.getRoleString()}=='MANAGER' ?'false':'true'" >Удалить</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.price}"></td>
                            <td> <img th:src="@{${product.images}}" alt="Фото продукта" width="200" height="100"> </td>
                            <td th:text="${product.availability}"></td>
                            <td th:text="${product.seo.name}"></td>
                            <td th:text="${product.productType.name}"></td>
                            <td th:text="${product.ratingId}"></td>
                            <td th:text="${product.sale.value}"></td>
                            <td th:hidden="${user.getRoleString()}=='ADMIN' or ${user.getRoleString()}=='MANAGER'?'false':'true'">
                                <a  th:href="@{/delete/{id}(id=${product.id})}">Удалить<i></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><a href="/drinks">Посмотреть напитки<i></i></a></p>
                <p><a href="/games">Посмотреть настольные игры<i></i></a></p>
                <p><a href="/figures">Посмотреть коллекционные фигурки<i></i></a></p>
                <p><a href="/home">На главную<i></i></a></p>

            </div>
        </div>
    </div>
</div>

<script>

    function dropFunction() {
        document.getElementById("dropElement").classList.toggle("show");
    }

    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
            var dropElement = document.getElementById("dropElement");
            if (dropElement.classList.contains('show')) {
                dropElement.classList.remove('show');
            }
        }
    }
</script>

<script>

    function dropFunctionForCustomer() {
        document.getElementById("dropElementForCustomer").classList.toggle("show");
    }

    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
            var dropElement = document.getElementById("dropFunctionForCustomer");
            if (dropElement.classList.contains('show')) {
                dropElement.classList.remove('show');
            }
        }
    }
</script>

</body>
</html>