<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="utf-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="topnav">
    <a class="active" href="/home">Главная страница</a>
    <!--    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>-->
    <a href="/products">Список товаров</a>
    <a href="/drinks">Список напитков</a>
    <a href="/games">Список игр</a>
    <a href="/figures">Список фигурок</a>
    <a href="/users">Список пользователей</a>
    <a href="javascript: document.logoutForm.submit()" style="float:right;"> Выйти </a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Logout"/>
    </form>
</div>
<div class="container links">
<div th:switch="${drinks}">
    <div>
        <div>
            <h2 th:case="null">No drinks yet!</h2>
            <div th:case="*">
                <h2 class="header">Drinks</h2>
                <table border="1">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Descripton</th>
                        <th>Price</th>
                        <th>Picture</th>
                        <th>Availability</th>
                        <th>SEO_attributes</th>
                        <th>Product_type_id</th>
                        <th>Rating_id</th>
                        <th>Sale_id</th>
<!--                        <th>Drink_id</th>-->
                        <th>Drink_producer</th>
                        <th>Drink_Type</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="drink : ${drinks}" class="table">
                        <td th:text="${drink.name}"></td>
                        <td th:text="${drink.description}"></td>
                        <td th:text="${drink.price}"></td>
                        <td> <img th:src="@{${drink.images}}" alt="Фото продукта" width="200" height="100"> </td>
                        <td th:text="${drink.availability}"></td>
                        <td th:text="${drink.seo.name}"></td>
                        <td th:text="${drink.productType.name}"></td>
                        <td th:text="${drink.ratingId}"></td>
                        <td th:text="${drink.sale.value}"></td>
<!--                        <td th:text="${drink.drinkId}"></td>-->
                        <td th:text="${drink.drinkProducer.name}"></td>
                        <td th:text="${drink.drinkType.name}"></td>
                        <td><a th:href="@{/edit-drink/{id}(id=${drink.id})}">Edit<i></i></a></td>
                        <td><a th:href="@{/delete-drink/{id}(id=${drink.id})}">Delete<i></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/add-drink">Create drink<i></i></a></p>
            <p><a href="/products">Back to products<i></i></a></p>
        </div>
    </div>
</div>
</div>
</body>
</html>