<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="utf-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="topnav">
    <a href="/home">Главная страница</a>
    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>
    <div class="dropdown">
        <button class="dropbtn" onclick="dropFunction()">Каталог товаров
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="dropElement">
            <a href="/products">Все товары</a>
            <a href="/drinks">Напитки</a>
            <a href="/games">Настольные игры</a>
            <a href="/figures">Фигурки</a>
        </div>
    </div>
    <a th:hidden="${user.getRoleString()}=='CUSTOMER'?'false':'true'" th:href="@{/cart}"> Моя корзина </a>

    <a href="javascript: document.logoutForm.submit()" style="float:right;"> Выйти </a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Logout"/>
    </form>
</div>


<div th:switch="${drinks}">
    <div>
        <div>
            <h2 th:case="null">No drinks yet!</h2>
            <div th:case="*">
                <div class="container links">
                    <h2 class="header">Напитки</h2>
                    <table border="1">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Цена</th>
                            <th>Картинка</th>
                            <th>Наличие</th>
                            <th>SEO атрибут</th>
                            <th>Тип продукта</th>
                            <th>Рейтинг</th>
                            <th>Скидка</th>
                            <!--                        <th>Drink_id</th>-->
                            <th>Производитель</th>
                            <th>Тип напитка</th>
                            <th>Изменить</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="drink : ${drinks}" class="table">
                            <td th:text="${drink.name}"></td>
                            <td th:text="${drink.description}"></td>
                            <td th:text="${drink.price}"></td>
                            <td><img th:src="@{${drink.images}}" alt="Фото продукта" width="200" height="100"></td>
                            <td th:text="${drink.availability}"></td>
                            <td th:text="${drink.seo.name}"></td>
                            <td th:text="${drink.productType.name}"></td>
                            <td th:text="${drink.ratingId}"></td>
                            <td th:text="${drink.sale.value}"></td>
                            <td th:text="${drink.drinkProducer.name}"></td>
                            <td th:text="${drink.drinkType.name}"></td>
                            <td><a th:href="@{/edit-drink/{id}(id=${drink.id})}">Изменить<i></i></a></td>
                            <td><a th:href="@{/delete-drink/{id}(id=${drink.id})}">Удалить<i></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p><a href="/add-drink">Добавить напиток<i></i></a></p>
            <p><a href="/products">Назад к продуктам<i></i></a></p>
        </div>
    </div>
</div>
</div>
<script>

    function dropFunction() {
        document.getElementById("dropElement").classList.toggle("show");
    }

    window.onclick = function (e) {
        if (!e.target.matches('.dropbtn')) {
            var dropElement = document.getElementById("dropFunction");
            if (dropElement.classList.contains('show')) {
                dropElement.classList.remove('show');
            }
        }
    }
</script>
</body>
</html>