<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Настольные игры</title>
</head>
<body>
<div class="topnav">
    <a href="/home">Главная страница</a>
    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>
    <div class="dropdown">
        <button class="dropbtn" onclick="dropFunction()">Каталог товаров
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="dropElement">
            <a href="/products">Все товары</a>
            <a href="/drinks">Напитки</a>
            <a href="/games">Настольные игры</a>
            <a href="/figures">Фигурки</a>
        </div>
    </div>
    <a th:hidden="${user.getRoleString()}=='CUSTOMER'?'false':'true'" th:href = "@{/cart}"> Моя корзина </a>

    <a href="javascript: document.logoutForm.submit()" style="float:right;"> Выйти </a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Logout"/>
    </form>
</div>

<div class="container links">

    <div th:switch="${boardGames}">
        <h2 th:case="null">No boardGames found!</h2>
        <div th:case="*">
            <h2 class="header">Настольные игры</h2>
            <table border="1">
                <thead>
                <tr>
                    <th>product_id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Picture</th>
                    <th>Availability</th>
                    <th>SEO</th>
                    <th>Product_type</th>
                    <th>Rating</th>
                    <th>Sale</th>
                    <th>producer_game</th>
                    <th>difficulty_level</th>
                    <th>genre</th>
                    <th>age</th>
                    <th>players_min</th>
                    <th>players_max</th>
                    <th>play_time</th>
                    <th>option</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="boardGame : ${boardGames}">
                    <td th:text="${boardGame.id}"></td>
                    <td th:text="${boardGame.name}"></td>
                    <td th:text="${boardGame.description}"></td>
                    <td th:text="${boardGame.price}"></td>
                    <td> <img th:src="@{${boardGame.images}}" alt="Фото продукта" width="200" height="100"> </td>
                    <td th:text="${boardGame.availability}"></td>
                    <td th:text="${boardGame.seo.name}"></td>
                    <td th:text="${boardGame.productType.name}"></td>
                    <td th:text="${boardGame.ratingId}"></td>
                    <td th:text="${boardGame.sale.value}"></td>
                    <td th:text="${boardGame.boardGameProducer.name}"></td>
                    <td th:text="${boardGame.difficultyLevel.name}"></td>
                    <td th:text="${boardGame.genre.name}"></td>
                    <td th:text="${boardGame.age.name}"></td>
                    <td th:text="${boardGame.playersNumMin}"></td>
                    <td th:text="${boardGame.playersNumMax}"></td>
                    <td th:text="${boardGame.playTime.name}"></td>

                    <!--Проверить после заполнения таблиц-->
                    <td th:each="bGOption : ${boardGame.options}" th:text="${bGOption.name}"></td>

                    <td><a th:href="@{games-update/{id}(id=${boardGame.id})}">Edit</a></td>
                    <td><a th:href="@{games-delete/{id}(id=${boardGame.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/games-create">Create new game</a></p>
        <p><a href="/products">Back to products<i></i></a></p>
    </div>
</div>

<script>

    function dropFunction() {
        document.getElementById("dropElement").classList.toggle("show");
    }

    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
            var dropElement = document.getElementById("dropFunction");
            if (dropElement.classList.contains('show')) {
                dropElement.classList.remove('show');
            }
        }
    }
</script>

</body>
</html>