<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:switch="${products}">
    <div>
        <div>
            <h2 th:case="null">No humans yet!</h2>
            <div th:case="*">
                <h2>Products</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Descripton</th>
                        <th>Price</th>
                        <th>Availability</th>
                        <th>SEO_attributes</th>
                        <th>Product_type_id</th>
                        <th>Rating_id</th>
                        <th>Sale_id</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.availability}"></td>
                        <td th:text="${product.SEOAttributes}"></td>
                        <td th:text="${product.productType.name}"></td>
                        <td th:text="${product.ratingId}"></td>
                        <td th:text="${product.saleId}"></td>
                        <td><a th:href="@{/edit/{id}(id=${product.id})}" class="btn btn-primary"><i></i></a></td>
                        <td><a th:href="@{/delete/{id}(id=${product.id})}" class="btn btn-primary"><i></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/signup"><i></i></a></p>
        </div>
    </div>
</div>
</body>
</html>