<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Cart</title>
    <style>
        .invert {
            filter: invert(1);
        }
    </style>
</head>
<body>
<div>
    <div class="topnav">
        <a href="/home">Главная страница</a>
        <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>
        <a th:hidden="${user.getRoleString()}=='CUSTOMER'?'false':'true'" th:href = "@{/cart}"> Моя корзина </a>

        <a href="javascript: document.logoutForm.submit()" style="float:right;"> Выйти </a>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Logout"/>
        </form>
    </div>

    <div class="container links">
        <h2 class="header" th:text="'Это ваша корзина, '+${user.firstName}"></h2>
        <form th:object="${cart}">
            <table>
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Изображение</th>
                    <th>Стоимость за единицу товара</th>
                    <th></th>
                    <th>Кол-во</th>
                    <th></th>
                    <th>Стоимость с учетом скидки</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="productCart : ${cart.productCarts}">
<!--                    <td><input th:id="${productCart.id}" th:type="checkbox" th:name="products"-->
<!--                               th:value="${productCart.id}"/></td>-->
<!--                    чек бокс для выбора товаров-->
                    <td th:text="${productCart.product.name}"></td>
                    <td th:text="${productCart.product.description}"></td>
                    <td> <img th:src="@{${productCart.product.images}}" alt="Фото продукта" width="200" height="100"> </td>
                    <td th:id = "'idPrice'+(${productCart.product.id})" th:text="${productCart.product.price}"></td>
                    <td><a th:href="@{/productCardQuantityDecrease/{id}(id=${productCart.product.id})}" ><img src= "https://icons.iconarchive.com/icons/iconsmind/outline/512/Remove-icon.png" width="50" height="50" class="invert"><i></i></img></a></td>
                    <td th:id = "'idQuantity'+(${productCart.product.id})" th:text="${productCart.quantity}"></td>
                    <td><a th:href="@{/productCardQuantityIncrease/{id}(id=${productCart.product.id})}" ><img src= "https://icons.iconarchive.com/icons/iconsmind/outline/512/Add-icon.png" width="50" height="50"class="invert"><i></i></img></a></td>
                    <td th:id = "'idFinalPrice'+(${productCart.product.id})"></td>
                    <td><a th:href="@{/productCartDelete/{id}(id=${productCart.product.id})}" ><img src= "https://icons.iconarchive.com/icons/iconsmind/outline/512/Remove-Cart-icon.png" width="50" height="50"class="invert"><i></i></img></a></td>
                </tr>
                </tbody>
            </table>
            <label>Скидка: </label>
            <p  id = "idDiscountValue"  th:text="${user.discount}">value</p>
            <labdifficulty_levelel>Сумма заказа: </labdifficulty_levelel>
            <output id = "idSummCart"></output>
            <label> рублей </label>
            <div class="links">
                <p><a href="/home">На главную<i></i></a></p>
            </div>
                <p><a id = "idBuy" href="/buy">купить<i></i></a></p>

        </form>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = function(){
        writeProductFinalPrice();
    }
</script>
<script type="text/javascript">
    function writeProductFinalPrice () {
        var userDiscountValue = Number($("#idDiscountValue").text());
        $("#idSummCart").text(0);
        $.each($("td[id*='idPrice']"), function (index, value) {
            var idProduct = Number ($(value).attr("id").substring('idPrice'.length))
            var idQuantity = '#idQuantity'+idProduct;
            var quantity = Number($(idQuantity).text())
            var price = Number($(value).text())
            var idFinalPrice = '#idFinalPrice'+idProduct;
            $(idFinalPrice).text(quantity*price*(100-userDiscountValue)/100)
            $("#idSummCart").text(Number($("#idSummCart").text())+Number(($(idFinalPrice).text())))
        })
        if($("#idSummCart").text()==0) {
            $("#idBuy").hide()
            console.log("Сработало положительное условие")
        }
        else {
            $("#idBuy").show()
            console.log("Сработало отрицательное условие")
        }
    }
</script>
</body>
</html>