<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<div>


<h2 class="header"  th:text="'Это ваша корзина, '+${user.firstName}" ></h2>

<!--    <div th:if="!${#lists.isEmpty(productCarts)}">-->
<!--        <div th:each="product:${productCarts}">-->

<!--        </div>-->
<!--        </div>-->
</div>
</body>
</html>