<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Show products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container links">
    <div th:switch="${products}">
        <div>
            <div>
                <h2 th:case="null">No product yet!</h2>
                <div th:case="*">
                    <h2>Products</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Picture</th>
                            <th>Availability</th>
                            <th>SEO_attributes</th>
                            <th>Product_type_id</th>
                            <th>Rating_id</th>
                            <th>Sale_id</th>
                            <!--                        <th>Edit</th>-->
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.price}"></td>
                            <td> <img th:src="@{${product.images}}" alt="Фото продукта" width="200" height="100"> </td>
                            <td th:text="${product.availability}"></td>
                            <td th:text="${product.seo.name}"></td>
                            <td th:text="${product.productType.name}"></td>
                            <td th:text="${product.ratingId}"></td>
                            <td th:text="${product.sale.value}"></td>
                            <!--                        <td><a th:href="@{/edit/{id}(id=${product.id})}">Edit<i></i></a></td>-->
                            <td><a th:href="@{/delete/{id}(id=${product.id})}">Delete<i></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--            <p><a href="/signup">Create product<i></i></a></p>-->
                <p><a href="/drinks">See drinks<i></i></a></p>
                <p><a href="/games">See board games<i></i></a></p>
                <p><a href="/figures">See figures<i></i></a></p>
                <p><a href="/home">На главную<i></i></a></p>
                <img src="img/toad1.jpg" width="200" height="100">
                <img src="img/toad2.jpg" width="200" height="100">
            </div>
        </div>
    </div>
</div>
</body>
</html>