<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Order Update</title>
</head>
<body>
<h2 class="header">Заказы</h2>
<div class="container">
    <div class="label">
        <!--<style>-->
        <!--    fieldset {-->
        <!--        background-color: #eeeeee;-->
        <!--    }-->

        <!--    legend {-->
        <!--        background-color: gray;-->
        <!--        color: white;-->
        <!--        padding: 1px 10px;-->
        <!--    }-->

        <!--    input {-->
        <!--        margin: 5px;-->
        <!--    }-->
        <!--</style>-->
        <form action="#" th:action="@{/order-update}" th:object="${order}" method="post">

            <fieldset>
                <legend>Редактирование заказа</legend>
                <label for="orderId">Заказ № (id)</label>
                <input readonly type="text" th:field="*{orderId}" id="orderId" placeholder="orderId">

                <div>
                    <label> Выберите покупателя</label>
                    <select th:name="user">
                        <option th:each="user:${users}"
                                th:value="${user.id}"
                                th:text="${user.login}" Логин покупателя
                                th:selected="${order.user.id == user.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label> Выберите продукт</label>
                    <select name="productInOrder[0].product.id">
                        <option th:each="product:${products}"
                                th:value="${product.id}"
                                th:text="${product.name}" Наименование продукта>
                            <!--                                                            th:selected="${order.productInOrder[0].product.id == product.id}">-->
                        </option>
                    </select>
                </div>
                <br>
                <div>
                    <label> Количество</label>
                    <input type="text" th:field="*{productInOrder[0].quantity}" id="productInOrder[0].quantity"
                           placeholder="Количество товара"/>
                    <br>
                    <label> Итоговая цена</label>
                    <input type="text" th:field="*{productInOrder[0].finalPrice}" id="productInOrder[0].finalPrice"
                           placeholder="Итоговая цена"/>
                    <br>
                    <div>
                        <label for="date">Дата заказа</label>
                        <input type="text" th:field="*{date}" id="date" placeholder="Date">
                    </div>
                    <div>
                        <label> Состояние заказа
                            <select name="condition">
                                <option th:each="condition:${conditions}"
                                        th:value="${condition.conditionId}"
                                        th:text="${condition.conditionName}" Состояние заказа
                                        th:selected="${order.condition.conditionId == condition.conditionId}">
                                </option>
                            </select>
                        </label>
                    </div>
                    <br>
                    <div>
                        <label for="comment">Комментарий к заказу</label>
                        <input type="text" th:field="*{comment}" id="comment" placeholder="Comment">
                    </div>
                </div>
            </fieldset>

            <input type="submit" value="Изменить">
            <p><a href="/order">Cancel<i></i></a></p>

        </form>
    </div>
</div>

</body>
</html>



<div class="border">
    <div class="wrap">
        <div class="product-wrap">
            <a href=""><img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg"></a>
        </div>
        <div class="loop-action">
            <a href="" class="add-to-cart">Быстрый просмотр</a>
            <a href="" class="loop-add-to-cart">В корзину</a>
        </div>
    </div>
    <div class="product-info">
        <div class="stars"></div>
        <h3 class="product-title">Маленькое черное платье</h3>
        <div class="price">&#8381; 1999</div>
    </div>
</div>
