<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
    <div class="topnav">
        <a class="active" href="/home">Главная страница</a>
        <!--    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>-->
        <a href="/products">Список товаров</a>
        <a href="/drinks">Список напитков</a>
        <a href="/games">Список игр</a>
        <a href="/figures">Список фигурок</a>
        <a href="/users">Список пользователей</a>
        <a href="javascript: document.logoutForm.submit()" style="float:right;"> Выйти </a>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Logout"/>
        </form>
    </div>


    <div class="container links">
        <h2 class="header">Update Products</h2>
        <div class="label">
            <form action="#" th:action="@{/update/{id}(id=${product.id})}" th:object="${product}" method="post">
                <div>
                    <div>
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div>
                        <label for ="description">Description</label>
                        <input type="text" th:field="*{description}" id="description" placeholder="Description">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    </div>
                    <div>
                        <label for="images">Images</label>
                        <input type="text" th:field="*{images}" id="images" placeholder="Images">
                        <span th:if="${#fields.hasErrors('images')}" th:errors="*{images}"></span>
                    </div>
                    <div>
                        <label for="price">Price</label>
                        <input type="text" th:field="*{price}" id="price" placeholder="Price">
                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" ></span>
                    </div>
                    <div>
                        <label for="availability">Availability</label>
                        <input type="text" th:field="*{availability}" id="availability" placeholder="Availability">
                        <span th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}"></span>
                    </div>
                    <div>
                        <label for="seo.SEOAttributeId">SEO attributes</label>
                        <input type="text" th:field="*{seo.SEOAttributeId}" id="seo.SEOAttributeId" placeholder="SEO attributes">
                        <span th:if="${#fields.hasErrors('seo.SEOAttributeId')}" th:errors="*{SEOAttributes}"></span>
                    </div>
                    <div>
                        <label for="productType.productTypeId">Product Type</label>
                        <input type="text" th:field="*{productType.productTypeId}" id="productType.productTypeId" placeholder="Product Type">
                        <span th:if="${#fields.hasErrors('productType.productTypeId')}" th:errors="*{productTypeId}"></span>
                    </div>
                    <div>
                        <label for="ratingId">Rating</label>
                        <input type="text" th:field="*{ratingId}" id="ratingId" placeholder="rating Id">
                        <span th:if="${#fields.hasErrors('ratingId')}" th:errors="*{ratingId}"></span>
                    </div>
                    <div>
                        <label for="sales.saleId">Sale</label>
                        <input type="text" th:field="*{sale.saleId}" id="sales.saleId" placeholder="sale Id">
                        <span th:if="${#fields.hasErrors('sales.saleId')}" th:errors="*{saleId}"></span>
                    </div>
                </div>
                <div>
                    <div>
                        <button type="submit" class="button">Update product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>