<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css.css">
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>Edit a user</title>
</head>
<body>
<div>
    <div class="topnav">
        <a class="active" href="/home">Главная страница</a>
        <!--    <a th:href="@{account/{id}(id=${user.id})}">Мой аккаунт</a>-->
        <a href="/products">Список товаров</a>
        <a href="/drinks">Список напитков</a>
        <a href="/games">Список игр</a>
        <a href="/figures">Список фигурок</a>
        <a href="/users">Список пользователей</a>
        <a href="javascript: document.logoutForm.submit()" > Выйти </a>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Logout"/>
        </form>
    </div>


    <div class="container">
        <h2 class="header">Изменить выбранного пользователя</h2>
        <div>
            <form th:method="post" th:action="@{/users/update/{id}(id = ${user.id})}" th:object="${user}">
                <div class="label">
                    <div>
                        <label for="name">Введите имя </label>
                        <input type="text" th:field="*{firstName}" id="name" placeholder="Иван">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    </div>
                    <div>
                        <label for="lastName">Введите фамилию </label>
                        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Иванов">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    </div>
                    <div>
                        <label for="dateOfBirth">Введите дату рождения </label>
                        <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth" placeholder="01.01.2000">
                        <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
                    </div>
                    <div>
                        <label for="login">Введите логин </label>
                        <input type="text" th:field="*{login}" id="login">
                        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
                    </div>
                    <div>
                        <label for="password">Введите пароль </label>
                        <input type="text" th:field="*{password}" id="password">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>

                    <div>
                        <label> Выберите город
                            <select th:name="city">
                                <option th:each="city:${city}"
                                        th:value="${city.cityID}"
                                        th:text="${city.value}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <div th:each="role : ${roles}">
                        <input th:id="${role}" type="checkbox" th:name="roles[]" th:value="${role}"
                               th:checked="${#lists.contains(user.roles, role)}"/>
                        <label th:text="${role}"> </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Изменить">
                    <br>
                    <br>
                    <a href="/users">Перейти к списку пользователей</a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>